---
layout: default
section_id: home
slides:
- layout: default
  title: Vítejte v Pilpilio
  image: images/3.png
  background: images/1.jpg
- layout: alt
  title: Okořeněné zážitky
  image_bottom: images//arrows.png
  background: images/7a.jpg

principles_left:
- title: Okořeněné zážitky
  content: Pilpili v gruzínštině znamená pepř. Každý z našich zájezdů vám nabídne jinou příchuť, kterou v obvyklých organizovaných zájezdech nenajdete. Jste milovníky přírody? Zajímá vás tradiční hudba, historie, nebo spíše součastná politická situace? Zprostředkujeme vám zkušenost, která nejlépe sedí vašim zájmům.
  icon: icon-basic-map
- title: Flexibilní a na míru
  content: Chceme, aby naše zájezdy naplnily vaše přání a očekávání. Zajímá vás konkrétní místo, specifický plán cesty nebo aktivita, kterou jste nenašli v naší nabídce? Chcete zorganizovat firemní cestu nebo teambuilding? Napište nám a společně zkusíme najít řešení přímo na míru vašim potřebám.
  icon: icon-arrows-shrink
principles_right:
- title: Odpovědní
  content: Je pro nás důležité, aby z našich služeb a z růstu turistického sektoru v Gruzii měli prospěch jak naši klienti, tak i místní společnost. Pracujeme s místními drobnými podnikateli, kterým důvěřujeme, preferujeme menší hotely a penziony patřící místním obyvatelům a vyhýbáme se klasickým turistickým pastem.
  icon: icon-basic-heart
- title: Ohleduplní k přírodě
  content: Věříme, že příroda je největším bohatstvím Gruzie a je pro nás důležité ji chránit. "Nezanechej po sobě stopu" je součástí naší filozofie, především během zájezdů do hor a přírodních parků. Snažíme se, aby naše zájezdy co nejvíce respektovaly životní prostředí.
  icon: icon-basic-world



---

<div class="full no-padding">
  <div id="slides" class="fullscreen">
    <div class="slides-container">
      {% for slide in page.slides %}
        <div class="slide">
          <div class="slide-info">
            <div class="row">
              <div class="large-10 large-centered columns">
                {% if slide.layout == 'default' %}
                  <div class="image-wrapper" style="background-image: url({{site.url}}/{{slide.image}});"></div>
                  <div class="two spacing"></div>
                  <h1>{{slide.title}}</h1>
                  <p>{{slide.tagline}}</p>
                {% else %}
                  <div class="image-wrapper" style="background-image: url({{site.url}}/{{slide.image_top}});"></div>
                  <div class="image-wrapper arrows" style="background-image: url({{site.url}}/{{slide.image_bottom}});"></div>
                  <div class="three spacing"></div>
                  <h1>{{slide.title}}</h1>
                {% endif %}
              </div>
            </div>
          </div>
          <img src="{{site.url}}/{{slide.background}}" alt="">
        </div>
      {% endfor %}
    </div>
    <nav class="slides-navigation">
      <a href="#" class="next"><i class="icon-arrows-slim-right"></i></a>
      <a href="#" class="prev"><i class="icon-arrows-slim-left"></i></a>
    </nav>
  </div>
</div>
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Zájezdy        </h2>
      </div>
    </div>
  </div>
  <div class="related-works">
    <div class="row">
      <div class="large-4 columns">
        <div class="work-wrapper">
          <a href="HikinginSvaneti.html" class="work">
            <img src="images/HikinginSvaneti/Mestia.jpg" alt="">
            <div class="info">
              <h3>Treking ve Svanetii              </h3>
              <p>Dobrodružné zážitky - 5 dní</p>
            </div>
          </a>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="work-wrapper">
          <a href="luxuriousculturaltour.html" class="work">
          <img src="images/luxuriousculturaltour/Tbilisi.jpg" alt="">
          <div class="info">
            <h3>Luxusní kulturní zážitek </h3>
            <p>Luxusní zážitky - 7 dní</p>
          </div>
        </a>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="work-wrapper">
          <a href="mountainsandvalleys.html" class="work">
            <img src="images/mountainsandvalleys/Borjomi.jpg" alt="">
            <div class="info">
              <h3>Hory a údolí              </h3>
              <p>Kulturní zážitky - 8 dní</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="centered-text">
          <a href="{{site.url}}/cz/tours.html" class="button brown boxed">Discover More Tours</a>
        </div>
    </div>

<div class="full centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Hodnoty</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    {% for principle in page.principles_left %}
    <div class="quote reverse wow slideInLeft" class="wow" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
        <div class="row">
          <div class="large-12 columns">
              <div class="principle">
                  <div class=" centered-text">
                  <i class="{{principle.icon}}"author"></i>
                </div>
                <div class=" centered-text">

                  <i class=>{{principle.title}}</i>
                </div>

                </div>
          </div>
          <div class="small-12 columns">
            <p>{{principle.content}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="large-6 columns">
    {% for principle in page.principles_right %}
      <div class="quote reverse wow slideInRight" class="wow" data-wow-delay="{{ 0.2 | times:forloop.index0 }}s">
          <div class="row">
              <div class="large-12 columns">
                  <div class="principle">
                      <div class=" centered-text">
                          <i class="{{principle.icon}}"author"></i>
                        </div>
                        <div class=" centered-text">

                          <i class=>{{principle.title}}</i>
                        </div>

                        </div>
                  </div>
              <div class="small-12 columns">
                <p>{{principle.content}}</p>
              </div>
            </div>
          </div>
    {% endfor %}
  </div>
</div>
</div>
